<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>com.frss.util.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
<!--
	<filter-mapping> 
		<filter-name>SetCharacterEncoding</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping>
-->
  <session-config>	<!-- session过期时间，1分钟 [zuow,2012/05/15] -->
  	<session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>LoginManagerServlet</servlet-name>
    <servlet-class>com.frss.servlet.LoginManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginManagerServlet</servlet-name>
    <url-pattern>/LoginManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutManagerServlet</servlet-name>
    <servlet-class>com.frss.servlet.LogoutManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutManagerServlet</servlet-name>
    <url-pattern>/LogoutManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessLoginServlet</servlet-name>
    <servlet-class>com.frss.servlet.SessLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessLoginServlet</servlet-name>
    <url-pattern>/SessLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TreeServlet</servlet-name>
    <servlet-class>com.frss.servlet.TreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeServlet</servlet-name>
    <url-pattern>/TreeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueryFaultServlet</servlet-name>
    <servlet-class>com.frss.servlet.QueryFaultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFaultServlet</servlet-name>
    <url-pattern>/QueryFaultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAudioServlet</servlet-name>
    <servlet-class>com.frss.servlet.QueryAudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAudioServlet</servlet-name>
    <url-pattern>/QueryAudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryDetailServlet</servlet-name>
    <servlet-class>com.frss.servlet.QueryDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDetailServlet</servlet-name>
    <url-pattern>/QueryDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryFactoryServlet</servlet-name>
    <servlet-class>com.frss.servlet.QueryFactoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryFactoryServlet</servlet-name>
    <url-pattern>/QueryFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchFaultServlet</servlet-name>
    <servlet-class>com.frss.servlet.SearchFaultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFaultServlet</servlet-name>
    <url-pattern>/SearchFaultServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UploadFaultServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadFaultServlet</servlet-class>
    <init-param>
      <param-name>photopath</param-name>
      <param-value>photos</param-value>
	</init-param>	
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFaultServlet</servlet-name>
    <url-pattern>/UploadFaultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadBackupServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadBackupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBackupServlet</servlet-name>
    <url-pattern>/UploadBackupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadApprovalServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadApprovalServlet</servlet-name>
    <url-pattern>/UploadApprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFormatServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadFormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFormatServlet</servlet-name>
    <url-pattern>/UploadFormatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadDispatchServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDispatchServlet</servlet-name>
    <url-pattern>/UploadDispatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFeedbackServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFeedbackServlet</servlet-name>
    <url-pattern>/UploadFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhoneBackConfirmServlet</servlet-name>
    <servlet-class>com.frss.servlet.PhoneBackConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneBackConfirmServlet</servlet-name>
    <url-pattern>/PhoneBackConfirmServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet> -->
<!--     <servlet-name>UploadRemoteServlet</servlet-name> -->
<!--     <servlet-class>com.frss.servlet.UploadRemoteServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UploadRemoteServlet</servlet-name> -->
<!--     <url-pattern>/UploadRemoteServlet</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet>
    <servlet-name>UploadFactoryServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadFactoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFactoryServlet</servlet-name>
    <url-pattern>/UploadFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddNewUserServlet</servlet-name>
    <servlet-class>com.frss.servlet.AddNewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewUserServlet</servlet-name>
    <url-pattern>/AddNewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyUserPwdServlet</servlet-name>
    <servlet-class>com.frss.servlet.ModifyUserPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyUserPwdServlet</servlet-name>
    <url-pattern>/ModifyUserPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryDepartmentServlet</servlet-name>
    <servlet-class>com.frss.servlet.QueryDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDepartmentServlet</servlet-name>
    <url-pattern>/QueryDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatGraphServlet</servlet-name>
    <servlet-class>com.frss.servlet.StatGraphServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatGraphServlet</servlet-name>
    <url-pattern>/StatGraphServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UploadLocalFileServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadLocalFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadLocalFileServlet</servlet-name>
    <url-pattern>/UploadLocalFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadAudioServlet</servlet-name>
    <servlet-class>com.frss.servlet.UploadAudioServlet</servlet-class>
    <init-param>
      <param-name>audiopath</param-name>
      <param-value>audios</param-value>
	</init-param>	
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAudioServlet</servlet-name>
    <url-pattern>/UploadAudioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutputResultsServlet</servlet-name>
    <servlet-class>com.frss.servlet.OutputResultsServlet</servlet-class>
    <init-param>
    	<param-name>fileRoot</param-name>
    	<param-value>D:/workplace/frss/downloads</param-value>
    </init-param>
    <init-param>
    	<param-name>contentType</param-name>
    	<param-value>application/x-msdownload</param-value>
    </init-param>
    <init-param>
    	<param-name>encode</param-name>
    	<param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutputResultsServlet</servlet-name>
    <url-pattern>/OutputResultsServlet</url-pattern>
  </servlet-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>